.form{
    border: 2px solid blue;
    padding: 50px;
    width: 400px;
    margin: 2rem auto;
}

.form input, .form textarea{
    width: 100%;
    margin: 10px;
}

.form label{
    display: block;
    text-align: center;
}
